In [1]:
import pandas as pd
import time

In [2]:
#Data preview
test = pd.read_csv("..\\Data\\test_data_name_transformed.csv")
test

,id,time,x,y,road_id,cus,roadDis,od,road_name
0,77e36ec288cb698d8ef1d3db14643ae0,1.407470e+12,116.455359,39.941790,153497,1,626.24662,1,东三环北路
1,77e36ec288cb698d8ef1d3db14643ae0,1.407470e+12,116.455228,39.950629,154454,1,437.58226,0,东三环北路
2,44a028779b133e0b38a429fadc9df58f,1.407490e+12,116.455562,39.933760,157625,1,183.25461,0,东三环北路
3,be0fa98bf9339e0282387291d5cf9391,1.407490e+12,116.455616,39.922710,171287,1,68.43506,0,东三环北路
4,759af2a63280f83ed75bf90454daba57,1.407470e+12,116.455268,39.916738,163658,1,215.63861,0,东三环北路
...,...,...,...,...,...,...,...,...,...
9995,c5a9daa18ec530ed91b7d883fd476072,1.407490e+12,116.453918,39.865831,104178,1,922.87065,0,东三环南路
9996,44263703ce15f2a0d0636a39dee1785d,1.407470e+12,116.455048,39.890651,87373,1,448.55902,0,东三环南路
9997,44263703ce15f2a0d0636a39dee1785d,1.407470e+12,116.454885,39.882310,107642,1,476.51801,0,东三环南路
9998,a5926a2e654eceaa7f99432b09d9d3f5,1.407490e+12,116.455340,39.882450,87377,1,16.78289,0,东三环南路
9999,bfaf17b7503b3c8d5efd59393db94d34,1.407480e+12,116.454786,39.875980,104760,1,963.92869,0,东三环南路

In [3]:
#Trajectory get
test['de'] = str('')
i = 0
x = 0
while i < len(test.index):
    if test.loc[i, 'od'] == 1:
        x = i
        test.loc[x, 'de'] += str(test.loc[i, 'road_name']) + ';'
        i += 1
    if test.loc[i, 'od'] == 2:
        test.loc[x, 'de'] += str(test.loc[i, 'road_name']) + '+'
        i += 1
        continue
    test.loc[x, 'de'] += str(test.loc[i, 'road_name']) + '+'
    i += 1
test = test.loc[test['road_name'] != '']

In [4]:
#Time transformed
i = 0
while i < len(test.index):
    if int(time.mktime(time.strptime('20140808 00:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 01:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1990
    if int(time.mktime(time.strptime('20140808 01:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 02:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1991    
    if int(time.mktime(time.strptime('20140808 02:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 03:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1992
    if int(time.mktime(time.strptime('20140808 03:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 04:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1993
    if int(time.mktime(time.strptime('20140808 04:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 05:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1994
    if int(time.mktime(time.strptime('20140808 05:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 06:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1995
    if int(time.mktime(time.strptime('20140808 06:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 07:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1996
    if int(time.mktime(time.strptime('20140808 07:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 08:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1997
    if int(time.mktime(time.strptime('20140808 08:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 09:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1998
    if int(time.mktime(time.strptime('20140808 09:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 10:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 1999
    if int(time.mktime(time.strptime('20140808 10:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 11:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2000
    if int(time.mktime(time.strptime('20140808 11:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 12:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2001
    if int(time.mktime(time.strptime('20140808 12:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 13:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2002
    if int(time.mktime(time.strptime('20140808 13:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 14:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2003
    if int(time.mktime(time.strptime('20140808 14:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 15:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2004
    if int(time.mktime(time.strptime('20140808 15:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 16:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2005
    if int(time.mktime(time.strptime('20140808 16:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 17:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2006  
    if int(time.mktime(time.strptime('20140808 17:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 18:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2007 
    if int(time.mktime(time.strptime('20140808 18:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 19:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2008 
    if int(time.mktime(time.strptime('20140808 19:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 20:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2009 
    if int(time.mktime(time.strptime('20140808 20:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 21:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2010 
    if int(time.mktime(time.strptime('20140808 21:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 22:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2011 
    if int(time.mktime(time.strptime('20140808 22:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 23:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2012 
    if int(time.mktime(time.strptime('20140808 23:00:00:000', "%Y%m%d %H:%M:%S:%f"))) < int(test.loc[0,'time']/1000) <= int(time.mktime(time.strptime('20140808 24:00:00:000', "%Y%m%d %H:%M:%S:%f"))):
        test['year'] = 2013
    i += 1

In [5]:
test.to_csv('..\\Data\\test_data_time_transformed.csv', encoding = 'utf-8-sig', index = False)